@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    30% { opacity: 0.85; }
    40% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    30% { opacity: 0.85; }
    40% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    30% { opacity: 0.85; }
    40% { opacity: 1; }
}


@-webkit-keyframes fadeOut {
    0% { opacity: 0.4; }
    100% { opacity: 0;}
}
@-moz-keyframes fadeOut {
      0% { opacity: 0.4; }
    100% { opacity: 0;}
}
@keyframes fadeOut {
      0% { opacity: 0.4; }
    100% { opacity: 0;}
}

@-webkit-keyframes grow-width {
    0% { width: 0%; opacity:0; }
    100% { width: 100%; opacity:1; }
}
@-moz-keyframes grow-width {
    0% { width: 0%; opacity:0; }
    100% { width: 100%; opacity:1; }
}
@keyframes grow-width {
    0% { width: 0%; opacity:0; }
    100% { width: 100%; opacity:1; }
}