---
layout: default_code
---

<ul>
	<li>
		<article class="post single" itemscope itemtype="http://schema.org/BlogPosting">
			<h1 itemprop="name">{{page.title}}</h1>
			<p class="date" itemprop="dateCreated">Published {{ page.date | date: "%d-%m-%Y" }} | By <a href="https://plus.google.com/101491171162004714201?rel=author" target="_blank" itemprop="author">Zhou Yi</a></p>

			{% if post.image %}

			<div class="image">
				<span data-picture data-alt="{{ post.image-alt-text }}">
					<span data-src="{{ post.image }}"></span>
					<span data-src="{{ post.image-mobile }}" data-media="(max-width: 430px)"></span>

					<noscript>
						<img itemprop="image" src="{{ post.image }}" alt="Codepen pattern rodeo 8">
					</noscript>
				</span>
			</div>

			{% endif %}

			<div itemprop="description">{{ content }}</div>
		</article>
	</li>
</ul>
